[submodule "StreamPoseML"]
	path = StreamPoseML
	url = https://github.com/mrilikecoding/StreamPoseML.git
[submodule "eddi"]
	path = eddi
	url = https://github.com/mrilikecoding/eddi.git
[submodule "eddi-pad"]
	path = eddi-pad
	url = ./eddi-pad
[submodule "skeleton-mhi"]
	path = skeleton-mhi
	url = ./skeleton-mhi
